.form__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  max-width: 500px;

  &__next {
    background-color: var(--blue-950);
    color: var(--white);
    border: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;

    &:hover {
      background-color: var(--purple-600);
    }
  }
  &__back{
    display: none;
    background: transparent;
    border: none;
    color: var(--grey-500);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--blue-950);
    }
  }

  &__confirm {
    display: none;
    background-color: var(--purple-600);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.8rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: hsl(243, 100%, 72%);
    }
  }

   @media (max-width: 768px) {
    width: 100%;
    padding: 1rem;

    &__back {
      font-size: 0.9rem;
    }

    &__confirm {
      padding: 0.7rem 1.2rem;
      font-size: 0.9rem;
    }
  }

}
