

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--blue-50);
  color: var(--blue-950);
}






ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: inherit;
}
