.main__section {
  width: 500px;
  height: 500px;
  padding: 2rem;
  overflow-x: hidden;
  position: relative;
  background: var(--white);
  height: 425px;

  @media (max-width: 500px) {
    width: 100%;
  }

  .sections-wrapper {
    display: flex;
    flex-direction: row;
    width: max-content; // automatically fits its children
    height: 100%;
    gap: 10rem;
    margin-left: -15px;
  }

  .sections-wrapper > section {
    width: 450px;
    flex-shrink: 0;
    height: 100%;
    background: transparent;
    display: block;

    @media (max-width: 500px) {
      width: 90vw;
    }
  }
}